<header>
  <div class="container">
    <div class="logo">{{ logo }}</div>
  </div>
</header>

<main class="container">
  <aside>
    <div class="title">
      <h3>Categories</h3>
      <button class="btn" (click)="openCategoryDialog()">Add new</button>
    </div>
    <app-category
      *ngFor="let category of categories"
      [category]="category"
      (click)="openCategoryDialog(category)"
    ></app-category>
  </aside>

  <section>
    <div class="title">
      <h3>Notes</h3>
      <button class="btn" (click)="openNoteDialog()">Add new</button>
    </div>
    <div class="notes-list">
      <app-note
        *ngFor="let note of notes"
        [note]="note"
        [color]="noteColor(note.categoryId)"
        (click)="openNoteDialog(note)"
      ></app-note>
    </div>
  </section>
</main>

<div class="overlay" *ngIf="isCategoryDialogOpen || isNoteDialogOpen">
  <app-dialog-category
    [open]="isCategoryDialogOpen"
    [category]="categoryToUpdate"
    (close)="updateCategory($event)"
  ></app-dialog-category>
  <app-dialog-note
    [open]="isNoteDialogOpen"
    [note]="noteToUpdate"
    [categories]="categories"
    (close)="updateNote($event)"
  ></app-dialog-note>
</div>
