<header>
  <div class="container">
    <div class="logo">{{ logo }}</div>
  </div>
</header>

<main class="container">
  <aside>
    <div class="title">
      <h3>Categories</h3>
      <button (click)="openDialog('category')">Add new</button>
    </div>
    <div class="category">
      <span class="dot" [ngStyle]="{'background-color': '#87cefa'}"></span>
      <span>React</span>
    </div>
    <div class="category">
      <span class="dot"></span>
    </div>
  </aside>

  <section>
    <div class="title">
      <h3>Notes</h3>
      <button (click)="openDialog('note')">Add new</button>
    </div>
    <div class="notes-list">
      <div class="note" [ngStyle]="{'background-color': '#87cefa'}">
        <h4>Title</h4>
        <p>Content</p>
      </div>
      <div class="note"></div>
      <div class="note"></div>
      <div class="note"></div>
      <div class="note"></div>
    </div>
  </section>
</main>

<div class="overlay" *ngIf="hasOpenDialog">
  <dialog class="center" *ngIf="isNoteDialogOpen">
    <div class="dialog-content">
      <h2>Note Dialog Title</h2>
      <p>
        In order to give an example of paragraph, we kindly ask you to change and
        use anything you want as content
      </p>
    </div>
    <div class="dialog-actions">
      <button (click)="closeDialog('note')">Cancel</button>
      <button (click)="closeDialog('note')">Confirm</button>
    </div>
  </dialog>
  <dialog class="center" *ngIf="isCategoryDialogOpen">
    <div class="dialog-content">
      <h2>Category Dialog Title</h2>
      <p>
        In order to give an example of paragraph, we kindly ask you to change and
        use anything you want as content
      </p>
    </div>
    <div class="dialog-actions">
      <button (click)="closeDialog('category')">Cancel</button>
      <button (click)="closeDialog('category')">Confirm</button>
    </div>
  </dialog>
</div>

